setuptools
Flask>=3.0.0
Flask-SocketIO>=5.3.5
python-socketio>=5.10.0
python-engineio>=4.8.0
openai-whisper
torch
transformers
google-generativeai
librosa
soundfile
scipy
opencv-python
onnxruntime
numpy
requests
tqdm
python-dotenv
Werkzeug
gunicorn
pymongo
PyJWT
flask-cors
